.digitizeContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 3em 3em 0 3em;
}

.digitizeParamsContainer {
    width: 90%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 6em;
}

.digitizeParamsContainer > .sliderRangeContainer {
    width: 45%;
    min-width: 18em;
    display: flex;
    align-items: center;
    margin: 0.8em 0;
}

.digitizeParamsContainer > .sliderRangeContainer > label {
    width: 10em;
    white-space: nowrap;
}

.digitizeCanvasContainer {
    position: relative;
    margin: 1em auto;
    border: 1px solid gray;
    width: calc(90% - 7em);
    height: 40vh;
}

.digitizeCanvasLabel {
    position: absolute;
    top: -1em;
    line-height: 2em;
    left: 1em;
    background: #ccdefa;
    padding: 0 0.5em;
    font-weight: bold;
    white-space: nowrap;
}

.digitizeOutputContainer {
    display: flex;
    justify-content: center;
}

.digitizeFrequenciesContainer textarea {
    width: 80%;
    margin-left: 5px;
}

.digitizeFrequenciesText {
    text-align: center;
    max-width: 20em;
    font-weight: bold;
}
